<!DOCTYPE html>
<html>

<head>
  <title>EDA Phase 1 Express Boilerplate</title>
</head>

<body>
  <ul>
   
    <li>{{name}}</li>
    <li>{{email}}</li>
    <li>{{url}}</li>
    <li><img src="{{profilePicture}}"></li>
  </ul>

  <a href="/">home</a>
</body>

</html>